* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body {
    font-family: 'Archivo', sans-serif;
    font-size: 1rem;
    background: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

h1,h2,h3,p {
    color: white;
}

/* NAV BAR */

.bar {
    display: flex;
    position: fixed;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), black);
    width: 100%;
    padding: 10px;
    z-index: 10;
}

#nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: auto;
}

.page-link {
    margin-left: 10px;
}

/* SCREENS */

.screen {
    min-height: 100%;
    height: auto;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

/* HOME SCREEN */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    width:70%;
    max-width: 40rem;
    margin: 10vh;
}

#links {
    text-align: center;
}

.icon {
    max-width: 40rem;
    width: 5%;
    margin: 0 10px;
}

/* ABOUT SCREEN */

#about {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about img {
    width: 20rem;
    display: inline-block;
}

.text-box {
    margin-top: 0;
    display: inline-block;
    width: 20rem;
    padding: 10px;
}

.text-box h2 {
    margin-bottom: 10px;
}

.text-box p {
    text-align: left;
}

/* PROJECT SCREEN */

#projects {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 5px;
    display:inline-block;
    position: relative;
    width: 225px;
    height: 225px;
    border-radius: 5px;
    overflow:hidden;
}

.project .img-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.project:hover .img-box {
    opacity: 0.1;
    z-index: 0 !important;
}

#wildfire {
    height: 100%;
}

#core {
    width: 100%;
}

#mfly,#spacex {
    width: 80%;
}

.project h2 {
    margin: 20px;
    text-align: center;
}

.project p {
    margin: 5px;
}

.project button {
    margin: 5px;
    border-radius: 10px;
    width: 7rem;
    border: none;
    font-family: 'Archivo', sans-serif;
    z-index: 1;
    position: absolute;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

button:hover {
    background-color: lightgray;
    transform: scale(1.1);
}

.project p {
    font-size: 15px;
}

/* CONTACT SCREEN */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-item {
    background: transparent;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    width: 20rem;
}

.form-submit {
    border-radius: 10px;
    width: 5rem;
    border: none;
    font-family: 'Archivo', sans-serif;
}

.form-submit:hover {
    background-color: lightgray;
    transform: scale(1.1);
}